.banner{
    width : 100%;
    height : 100vh;
    background-image : url("../../asset/image/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity : 0.5; */
    position : relative;
    padding : 0 5%;
    display : flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.content {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.content h1{
    font-size: 3.5rem;
    color : #fff;
    font-weight: 600;
}

.content a{
    position : relative;
    text-decoration: none;
    display: inline-flex;
    color : #fff;
    font-size: 1rem;
    border : 2px solid #fff;
    padding : 14px 70px;
    border-radius: 50px;
    margin-top: 1.5rem;
    z-index:1;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;

}

.content_a a:hover{
    color: #fff;
}

.content_a a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.content_a a:hover::before{
    width:100%;
}

.content p{
    font-size: 1.3rem;
}

@media screen and (max-width : 992px) {
    .content_a{
        font-size: 0.8rem;
    }

    .content h1{
        font-size: 3rem;
    }

    .content p{
        font-size: 1.1rem;
    }
}

@media screen and (max-width : 576px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }
}

/*for small device */
@media screen and (max-width : 350px) {
        .content_a {
            font-size: 0.5rem;
        }
    
        .content h1 {
            font-size: 1.1rem;
        }
    
        .content p {
            font-size: 0.9rem;
        }
}








