@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.dashheader {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}


.logo{
    font-size: 2rem;
    font-weight: bold;
    color : white;

}

.dashheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    /* background-color: var(--mainColor); */
    color: white;
}

.action_btn{
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline : none;
    border-radius: 18px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}

.action_btn:hover{
    background-color: #18162b;
    border: 2px solid orange;
}


/* 
.btns{
    margin-left: 4rem;
} */

.navbarrr a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}

.navbarrr a:hover {
    color: orange;
}

.dashheader .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}



.dashheader div,
.navbarrr {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .dashheader .nav-btn {
        visibility: visible;
        opacity: 2;
        font-size: 1.2rem;
    }

    .logo{
        font-size: 1.4rem;
    }

    .dashheader .navbarrr {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--mainColor);
        transition: 1s;
        margin-top: 0;
    }

    .dashheader .responsive_nav {
        transform: translateY(100vh);
    }

    .navbarrr .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .navbarrr a {
        font-size: 1.5rem;
    }
}