/*.head__dash{
    height : calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 10rem;
}

.head__dash h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    position: relative;
    letter-spacing: 2.5px;
    color : #0e3742;
    width : 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-reflect: below 0.9px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline : none;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%,18%,20%,30%,50.1%,60%,65.1%,70%,80%,90.1%,92%{
        color: #0e3742;
        box-shadow: none;
    }

    8.5%,15%,18.1%,20.1%,30%,50%,60.1%,65%,70.1%,80.1%,85%,90%,92.1%,95%,98%,100%{
        color : #fff;
        box-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4

    }
}

@media screen and (max-width : 992px) {
    .head__dash h1{
        font-size: 2.8rem;
    }
}

@media screen and (max-width : 576px) {
    .head__dash h1 {
            font-size: 1.8rem;
        }
}

/*for small device */
/*@media screen and (max-width : 350px) {
    .head__dash h1 {
            font-size: 1rem;
        }
}
*/

.dashboard__body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ededed;
} 

.dashboard__home {
    height: 100vh;
    display: flex;
    background: url('../../asset/image/banner-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.dashboard__h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ededed;
}

.dashboard__h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.dashboard__p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.dashboard__btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.dashboard__btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.dashboard__btn-box a:hover {
    color: #00abf0;
}


.dashboard__btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.dashboard__btn-box a:hover::before {
    width: 100%;
}