.footer__copy{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2rem;

}

.buttonn:hover{
    font-size: 1.5rem;
    cursor: pointer;
    color : orange;
}

.home__icon{
    color : orange;
    font-size: 1.3rem;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}

.delete{
    margin-left: 2rem;
}

