.footer__copy{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 2rem;

}

.buttonn:hover{
    cursor: pointer;
    color : orange;
    transition: .3s;
    font-size: 1.1rem;
}

.home__icon{
    color : orange;
    font-size: 1.3rem;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
}

.delete{
    margin-left: 2rem;
}

