.section__title{
    color: white;
}

.skills__container{
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__name {
    color: white;
    font-size: 1.05rem;
    line-height: 18px;
    font-weight: var(--title-color);
}


.skills__content{
    background-color: rgb(54 54 54);
    border: 1px solid black(0,0,0,0.1);
    padding:2rem 4rem;
    border-radius: 1.25rem;
    /* opacity: 0.7;  */
}

.skills__title{
    font-size: 1rem;
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    color: white;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap:0.5rem;
}


.badge{
    font-size: 1rem;
    color: orange;
}

.skills__level{
    font-size: 0.8rem;
    color: rgb(146, 145, 143);
}

@media screen and (max-width : 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem ;
    }
}

@media screen and (max-width : 576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }

    .skills__content{
        padding : 1.5rem;
    }
}

/*for small device */
@media screen and (max-width : 350px) {
    .skills__box{
        column-gap: 1.25rem ;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }
}





