.experience__container{
    grid-template-columns: repeat(3,270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.experience__modal{
    display: none;
}

.experience__content{
    position: relative;
    border: 1px solid rgba(142, 64, 64, 0.1);
    /* background-color: rgb(76, 74, 74); */
    background-image: url("../asset/image/2.jpg");
    background-repeat: no repeat;
    padding: 6rem 0 2rem 2.5rem;
    background-size: cover;
    opacity: 3;
}

.experience__content_like{
    position: relative;
    border: 1px solid rgba(142, 64, 64, 0.1);
    /* background-color: rgb(76, 74, 74); */

    background-repeat: no repeat;
    padding: 6rem 0 2rem 2.5rem;
    background-size: cover;
    opacity: 3;
}

.Experience__icon{
    display: block;
    font-size: 1.5rem;
    color: orange;
    margin-bottom: var(--mb-1);
}

.experience__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    color: white;
    font-weight: var(--font-medium);
}

.experience__button{
    color: white;
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.experience__button-icon{
    font-size: 1rem;
    transition: 0.3s;
}

.experience__button:hover .experience__button-icon{
    transform: translateX(00.25rem);
}

.experience__modal{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    z-index:var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity:0;
    visibility: hidden;
    transition:.3s;

}

.experience__modal-content{
    width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.experience__modal-close{
    position: absolute;
    top:1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: orange;
    cursor:pointer;
}

.experience__modal-title,
.experience__modal-description{
    text-align: center;
}

.experience__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.experience__modal-description{
    font-size:var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}

.experience__modal-experience{
    row-gap: 0.75rem;
}

.experience__modal-experience{
    display: flex;
    align-items: center;
    column-gap: .5rem ;
}

.experience__modal-icon{
    /* color: orange; */
    font-size: 1.1rem;
}

.experience__modal-info{
    font-size: var(--small-font-size);
}



.active-modal{
    opacity:1;
    visibility: visible;
}

@media screen and (max-width : 992px) {
    .experience__container{
        grid-template-columns: repeat(3,218px);
    }
}

@media screen and (max-width : 768px) {
    .experience__container{
        grid-template-columns: repeat(2,1fr);
    }

    .experience__content{
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }

    .experience__icon{
        font-size: 1rem;
    }
}

@media screen and (max-width : 576px) {
    .experience__modal-content{
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .experience__modal-description{
        padding:0;
    }
}

/*for small device */
@media screen and (max-width : 350px) {
    .experience__container{
        grid-template-columns: max-content;
    }

    .experience__content{
        padding-right: 6rem;
    }

}




