


.home__content{
    grid-template-columns: 116px repeat(2,1fr);
    padding-top: 5.5rem;
    column-gap : 2rem ; 
    align-items: center;
}

.home__img{
    background: url(../asset/image/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
    order:1;
    justify-self:center;
    width: 300px;
    height: 300px;
    animation : profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__title{
    color:white;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

}

.home__social-icon{
    font-size:1.25rem;
    color:white;
}

.home__social-icon:hover{
    color: #DA7328;
}

.home_description{
    max-width: 400px;
    margin-bottom: var(--mb-5);
    color: rgb(98, 94, 94);
}

.button{
    color:rgb(98, 94, 94);
}

@media screen and (max-width : 992px) {
    .home__content{
        grid-template-columns: 100px repeat(2,1fr);
        column-gap: 1.25rem;
    }

    .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img{
        width:250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255/30%);
    }

}

@media screen and (max-width: 768px) { 
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img{
        order:initial;
        justify-self: initial;
        
    }

    .home_data{
        grid-column: 1/3;
    }

    .home__img{
        box-shadow: inset 0 0 0 6px rgb(255 255 255/30%);
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 350px ) {
    .home__img{
        width: 22px;
        height:180px;
    }

}

