.home__content{
    grid-template-columns: 116px repeat(2,1fr);
    padding-top: 5.5rem;
    column-gap : 2rem ; 
    align-items: center;
}


.home__img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
    order:1;
    justify-self:center;
    width: 300px;
    height: 300px;
    animation : profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__title{
    color:white;
    font-size: 2rem ;
    margin-bottom: var(--mb-0-25);
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;

}

.home__social-icon{
    font-size:1.25rem;
    color:white;
}

.home__social-icon:hover{
    color: #DA7328;
}

.home_description{
    max-width: 400px;
    margin-bottom: var(--mb-5);
    color: rgb(98, 94, 94);
}

.home__hand{
    width : 38px;
    height : 38px;
    margin-left: 0.4rem;
    color: #DA7328;
}

.home__hand{
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.home__subtitle{
    position: relative;
    font-weight:lighter;
    padding-left: 4.4rem;
    margin-bottom: var(--mb-1);
    font-size: 1.5rem;
    color: white;
}

.home__subtitle::before{
    content:'';
    position:absolute;
    width:50px;
    height:1.1px;
    background-color:#DA7328;
    left:0;
    top:1rem;
}

.button{
    color:rgb(98, 94, 94);
}

@media screen and (max-width : 992px) {
    .home__content{
        grid-template-columns: 100px repeat(2,1fr);
        column-gap: 1.25rem;
    }

    .home__hand{
        width: 26px;
        height : 26px;
    }

    .home__subtitle{
        padding-left: 3.4rem;
        margin-bottom: var(--mb-1);
    }

    .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__subtitle::before{
        width : 28px;
        top: 0.8rem;
    }

    .home__img{
        width:250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255/30%);
        margin-left : 0.6rem;
    }

}

@media screen and (max-width: 768px) { 
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img{
        order:initial;
        justify-self: initial;
        
    }
    
    .home__data{
        grid-column: 1/3;
       
    }

    .home__img{
        box-shadow: inset 0 0 0 6px rgb(255 255 255/30%);
        width: 200px;
        height: 200px;
        /* margin: 0.6rem; */
    }
}

@media screen and (max-width: 350px ) {
    .home__img{
        width: 180px;
        height:180px;
     
    }

    .home__hand{
        width: 22px;
        height: 22px;
    }
}

