.body{
    background-color: #18162d; 
}

hr {
    width: 40%;
    height: 0.1rem;
    background-color: rgb(227, 153, 24);
    margin-bottom: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-width: 0.5px;
    border-color: rgb(239, 239, 240);
}

