
button{
    height : 28px;
    /* font-size: 0.8rem; */
    
}

.button__links{
            margin-right: 0.8em;
            border-radius: 5px;
            width: 25%;
            font-size: 0.8rem;
            height: 30px;

            
}


.project__content{
    margin-right: 1.9rem;

}

.project__content {
    position: relative;
    border: 1px solid rgba(142, 64, 64, 0.1);
    /* background-color: rgb(76, 74, 74); */
    background-image: url("../asset/image/3.jpg");
    background-repeat: no repeat;
    padding: 6rem 0 2rem 2.5rem;
    background-size: cover;
    opacity: 3;
}

@media screen and (max-width : 992px) {
    .button__links {
       
            width: 31%;
            font-size: 0.6rem;
        }
}

@media screen and (max-width : 576px) {
    .button__links {
    
            width: 25%;
            font-size: 0.5rem;
        }
}

/*for small device */
@media screen and (max-width : 350px) {
    .button__links {
    
            width: 25%;
            font-size: 0.45rem;
            height : 25px;
        }
}