/* .projects {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    /* text-align: center;
}

h1 {
    margin: 1rem auto 4rem;
}

h2{
    color: orange;
}

.product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    background-color: rgb(54 54 54);

}

.price {
    color: grey;
    font-size: 0.8rem;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 18px;
    border-radius: 7px ;
}

.card button:hover {
    color: orange;
} */

.project__content{
    margin-right: 1.9rem;

}

.project__content {
    position: relative;
    border: 1px solid rgba(142, 64, 64, 0.1);
    /* background-color: rgb(76, 74, 74); */
    background-image: url("../asset/image/3.jpg");
    background-repeat: no repeat;
    padding: 6rem 0 2rem 2.5rem;
    background-size: cover;
    opacity: 3;
}

@media screen and (max-width : 992px) {
    button{
        font-size: 0.7rem;
    }
}

@media screen and (max-width : 576px) {
    button {
            font-size: 0.6rem;
        }
}

/*for small device */
@media screen and (max-width : 350px) {
    button {
            font-size: 0.5rem;
        }
}