/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* 
svg{
  display: block;
} */

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* .Portfolio{
  background-color: #18162b;
} */

body{
  background-color: #18162b;
}

/* .for_light_theme{
  --back-color : #18162b;
}

.for_dark_theme{
  --back-color : rgb(89, 192, 240);
} */
/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

hr {
  width: 40%;
  height: 0.1rem;
  background-color: rgb(227, 153, 24);
  margin-bottom: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-width: 0.5px;
  border-color: rgb(239, 239, 240);
}

/*=============== BREAKPOINTS ===============*/
/*for large device */
@media screen and (max-width : 992px){
  .container {
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5);
    }
  
    .button {
      padding: 1rem 1.75rem;
    }
  
    .button__icon {
      width: 22px;
      height: 22px;
    }
}

@media screen and (max-width : 768px) {
  body {
      margin: 0 0 var(--header-height) 0;
    }
  
    .section {
      padding: 2rem 0 4rem;
    }
  
    .section__subtitle {
      margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width : 576px) {
  .footer__content, .back__home {
    display: none;
}
}

/*for small device */
@media screen and (max-width : 350px) {
  root {
      --big-font-size: 2.25rem;
    }
  
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }

    .footer__content, .back__home {
      display: none;
  }
}

/* hr {
  width: 40%;
  height: 0.1rem;
  background-color: rgb(227, 153, 24);
  margin-bottom: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-width: 0.5px;
  border-color: rgb(239, 239, 240);
} */

/*----------------------------------------*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Form CSS*/

.error__button {
  background-color: #18162d;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.error__button:hover {
  color: orange;
}


.form-body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'jost' , sans-serif;
  background: linear-gradient(to bottom ,#0f0c29 ,#302b63, #24243e);

}
.form_main{
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background:url(../public/1.jpg) no-repeat center/ cover ;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
.error {
  color: rgb(199, 82, 150);
  text-align: center;
  font-style: italic;
}

#chk{
  display: none;
}

.signup{
  position: relative;
  width: 100%;
  height: 100%;

}

.form__label{
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.form__input{
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;

}
.form__button{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
.form__button:hover{
  background: #6d44b8;
  
}
.login{
  height: 460px;
  background-color:#eee ;
  border-radius: 60% /10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;

}
.login label{
  color: #573b8a;
  transform: scale(.6);

}

#chk:checked ~ .login{
  transform: translateY(-500px);
}
#chk:checked ~.login label{
  transform: scale(1);
}

#chk:checked ~.signup label{
  transform: scale(.6);
}