@tailwind base;
@tailwind components;
@tailwind utilities;

.navButton:hover, .navButton:focus{
  background-color:rgb(219, 144, 5) ;
}

.navButton:visited{
  background-color: rgb(219, 144, 5);
}

.navButton:active{
  background-color: rgb(219, 144, 5);
}
:root{
  --back-color : #82daee;
}

[data-theme="dark"]
{
  --back-color : #18162b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
